<div class="{{inputstyle.name}}">
   <div class="input-group input-group-sm">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input class="form-control" type="text"
             placeholder="search term"
             ng-model="searchParam"
             ng-change="newTagChange()">
      </span>
   </div>
   <div ng-transclude></div>
</div>

<div class="row" style="display: inline-block;margin-left: -30px;">
   <div id="sort_btn_aligner">
      <div class="btn-group btn-group-{{type}} col-sm-6 col-md-6 col-md-offset-2" data-toggle="buttons"
           style="width:140px;">

         <label>
            <button class="btn btn-default dropdown-toggle btn-warning btn-sm" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-expanded="true">
               Sort By :
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
               <li role="presentation">
                  <a role="menuitem" tabindex="-1">
                     <input type="radio" ng-model="isRadio">
                     Monthly Premium
                  </a>
               </li>
            </ul>
         </label>

         <label ng-switch on="isascending" class="sortBtn btn btn-info btn-sm">
            <div ng-switch-when="true">
               <div id="directionUp" data-ng-click="dosort('premium_adult_individual_age_27', isascending)">
                  <span class="glyphicon glyphicon-arrow-up"></span>
               </div>
            </div>
            <div ng-switch-default>
               <div id="directionDown" data-ng-click="dosort('premium_adult_individual_age_27', isascending)">
                  <span class="glyphicon glyphicon-arrow-down"></span>
               </div>
            </div>
         </label>
      </div>
   </div>
</div>