<div class="row-fluid">
    <a href="{{url}}" target="_blank"><b>{{content.title}}</b></a>
</div>

<div class="row-fluid">
    <div ng-switch on="content.context">
        <div ng-switch-when="undefined" ng-show="content.description">
            {{content.description}}
        </div>
        <div ng-switch-default>
             <span ng-repeat="text in formatData(content.context['#text']) track by $index">
                 ...{{text}} <b>{{formatData(content.context.highlight)[$index]}}</b>
             </span>
        </div>
    </div>
</div>

<div class="row-fluid">
    <i>
        {{getLastModified(content.lastmodified)}}
    </i>
</div>